main {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: auto;
    background-image: url(../img/backgoundMain.png);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

section {
    background-color: gray;
    height: 600px;
    border-color: black;
    border: solid;
}