main {
    display: flex;
    flex-direction: column;
    height: 850px;
    background-color: black;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/trackbit-4cb19.appspot.com/o/ChelbySobras_hiker_climbing_mountain_during_the_night_sky_full__3b31c7fe-18c6-446c-8dd0-b1336172f40c.png?alt=media&token=14539b6c-995a-4983-bef6-b043aef3a0b3);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

#header {
    color: #FFFFFF;
    text-shadow: 2px 2px 0 rgb(27, 38, 42), 2px -2px 0 rgb(27, 38, 42), -2px 2px 0 rgb(27, 38, 42), -2px -2px 0 rgb(27, 38, 42), 2px 0px 0 rgb(27, 38, 42), 0px 2px 0 rgb(27, 38, 42), -2px 0px 0 rgb(27, 38, 42), 0px -2px 0 rgb(27, 38, 42);
    color: #FFFFFF;
    font-weight: 900;
}

#calltoAct {
    background-color: rgb(157 117 49);
    color: white;
}

#firstSection {
    background-color: rgb(27, 38, 42);
    min-height: 800px;
    height: 100%;
}


#firstSectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#firstSectionHeader> h1{
    color: #FFFFFF;
    padding-top: 80px;
}
#firstSectionHeader> h4{
    color: #FFFFFF;
}

#cards {
    box-shadow: 0;
    color: rgb(157 117 49);
    text-shadow: 2px 2px 0 rgb(27, 38, 42), 2px -2px 0 rgb(27, 38, 42), -2px 2px 0 rgb(27, 38, 42), -2px -2px 0 rgb(27, 38, 42), 2px 0px 0 rgb(27, 38, 42), 0px 2px 0 rgb(27, 38, 42), -2px 0px 0 rgb(27, 38, 42), 0px -2px 0 rgb(27, 38, 42);
}

#homeCard{
    width: 18rem;
    height: 450px;
}


#secondSection {
    background-color: rgb(0, 0, 0);
    height: 800px;
    color: rgb(157 117 49);
    text-shadow: 2px 2px 0 rgb(27, 38, 42), 2px -2px 0 rgb(27, 38, 42), -2px 2px 0 rgb(27, 38, 42), -2px -2px 0 rgb(27, 38, 42), 2px 0px 0 rgb(27, 38, 42), 0px 2px 0 rgb(27, 38, 42), -2px 0px 0 rgb(27, 38, 42), 0px -2px 0 rgb(27, 38, 42);
    text-align: center;
}
#secondSection > h3{
    padding-top: 80px;
    margin-bottom: 70px;
    color: #FFFFFF;
}

#video{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

