*{
    font-family: 'Patua One';
}

nav{
    color: #FFFFFF;
    text-shadow: 2px 2px 0 rgb(27,38,42), 2px -2px 0 rgb(27,38,42), -2px 2px 0 rgb(27,38,42), -2px -2px 0 rgb(27,38,42), 2px 0px 0 rgb(27,38,42), 0px 2px 0 rgb(27,38,42), -2px 0px 0 rgb(27,38,42), 0px -2px 0 rgb(27,38,42);
    color: #FFFFFF;
    background-color: rgb(27,38,42);
    margin-bottom: 20px;
}

#tLogo{
    text-decoration: none;
    color: white;
}

#navbarButtons{
    gap: 10px;
    display: flex;
    justify-content: end;
  }
#navButton{
    background-color: rgb(157 117 49);
    color: rgb(27,38,42);
    font-size: 0.9rem;
    font-weight: 100;
}
