.registroDePaso{
    display: flex;
    flex-direction: column;
}

.numberInput{
text-align: center;
    max-width: 60px;
}

.timeSelect{
    max-width: 80px;
    text-align: center;
}

.stepContainer{
    overflow-y: auto;
    max-height: 700px;
}

.habitContainer{
    max-height: 700px;
    overflow-y: auto;
}

#habitsDisplay{

    background-color: rgb(49, 48, 48);
    border-radius: 5px;
    background-clip: border-box;
    word-break: break-word;
    max-width: 80%;
}

.habitButton{
    display: flex;
    float: inline-end;
    gap: 10px;
}

.habitTitle{
    text-transform: capitalize;
}


